#stars, #stars2, #stars3 {
  align-self: stretch;
  background: transparent;
  position: absolute; }

#stars {
  width: 1px;
  height: 1px;
  box-shadow: 959px 615px #FFF , 1505px 402px #FFF , 1385px 1752px #FFF , 1893px 124px #FFF , 751px 267px #FFF , 1894px 1133px #FFF , 258px 370px #FFF , 700px 1900px #FFF , 1487px 1702px #FFF , 1697px 446px #FFF , 413px 591px #FFF , 1257px 302px #FFF , 1020px 360px #FFF , 640px 1038px #FFF , 1007px 1425px #FFF , 863px 1933px #FFF , 730px 1079px #FFF , 835px 917px #FFF , 107px 2px #FFF , 1634px 1700px #FFF , 994px 566px #FFF , 878px 834px #FFF , 405px 180px #FFF , 439px 1750px #FFF , 281px 955px #FFF , 665px 635px #FFF , 1161px 877px #FFF , 1584px 609px #FFF , 1602px 361px #FFF , 1948px 1457px #FFF , 1342px 928px #FFF , 1837px 706px #FFF , 730px 943px #FFF , 3px 1880px #FFF , 152px 1518px #FFF , 413px 1452px #FFF , 842px 935px #FFF , 920px 1756px #FFF , 266px 1786px #FFF , 158px 774px #FFF , 1481px 589px #FFF , 760px 385px #FFF , 1573px 718px #FFF , 1366px 126px #FFF , 1443px 1501px #FFF , 883px 1863px #FFF , 161px 255px #FFF , 395px 619px #FFF , 867px 1167px #FFF , 1597px 1198px #FFF , 720px 401px #FFF , 124px 868px #FFF , 1735px 258px #FFF , 853px 1006px #FFF , 1739px 401px #FFF , 1089px 1696px #FFF , 111px 1790px #FFF , 1165px 1518px #FFF , 247px 1444px #FFF , 1401px 345px #FFF , 430px 95px #FFF , 1594px 1631px #FFF , 342px 343px #FFF , 1798px 1090px #FFF , 1217px 458px #FFF , 1518px 1154px #FFF , 1248px 644px #FFF , 1254px 1624px #FFF , 1437px 546px #FFF , 423px 1084px #FFF , 656px 1876px #FFF , 1764px 1831px #FFF , 912px 1926px #FFF , 321px 704px #FFF , 60px 251px #FFF , 467px 242px #FFF , 837px 1419px #FFF , 616px 1346px #FFF , 1035px 611px #FFF , 1315px 1325px #FFF , 1968px 1889px #FFF , 1508px 1873px #FFF , 958px 581px #FFF , 1848px 1137px #FFF , 1445px 1943px #FFF , 1585px 657px #FFF , 1603px 1231px #FFF , 1579px 496px #FFF , 779px 1437px #FFF , 757px 824px #FFF , 1871px 837px #FFF , 1832px 1638px #FFF , 525px 435px #FFF , 1608px 88px #FFF , 463px 516px #FFF , 1848px 1622px #FFF , 1295px 813px #FFF , 814px 254px #FFF , 484px 1181px #FFF , 134px 1651px #FFF , 1518px 1986px #FFF , 1265px 1280px #FFF , 1628px 1808px #FFF , 879px 963px #FFF , 428px 67px #FFF , 1932px 1277px #FFF , 1940px 332px #FFF , 1868px 1385px #FFF , 1085px 1682px #FFF , 1377px 343px #FFF , 1191px 1946px #FFF , 136px 1074px #FFF , 78px 1293px #FFF , 1932px 1436px #FFF , 328px 1214px #FFF , 143px 758px #FFF , 1253px 1448px #FFF , 1671px 1309px #FFF , 822px 1128px #FFF , 1675px 1072px #FFF , 1656px 1632px #FFF , 922px 68px #FFF , 1848px 726px #FFF , 1863px 256px #FFF , 159px 1798px #FFF , 474px 558px #FFF , 735px 660px #FFF , 159px 377px #FFF , 1977px 116px #FFF , 1572px 1487px #FFF , 826px 458px #FFF , 1836px 962px #FFF , 1095px 1146px #FFF , 688px 1217px #FFF , 1956px 666px #FFF , 1300px 226px #FFF , 1454px 1542px #FFF , 1117px 500px #FFF , 1379px 1272px #FFF , 1042px 1761px #FFF , 1288px 42px #FFF , 1060px 1989px #FFF , 1450px 1563px #FFF , 454px 227px #FFF , 424px 280px #FFF , 1580px 1340px #FFF , 1395px 448px #FFF , 1708px 1732px #FFF , 609px 71px #FFF , 1265px 725px #FFF , 936px 1422px #FFF , 1615px 195px #FFF , 1673px 1492px #FFF , 301px 795px #FFF , 1603px 1227px #FFF , 515px 1488px #FFF , 382px 48px #FFF , 411px 1645px #FFF , 968px 1250px #FFF , 782px 395px #FFF , 1859px 423px #FFF , 1701px 884px #FFF , 874px 1840px #FFF , 1466px 841px #FFF , 338px 318px #FFF , 1798px 1281px #FFF , 959px 1428px #FFF , 1518px 457px #FFF , 1893px 266px #FFF , 426px 1077px #FFF , 1471px 1802px #FFF , 1421px 125px #FFF , 782px 1116px #FFF , 1093px 652px #FFF , 1127px 1780px #FFF , 1730px 800px #FFF , 347px 1626px #FFF , 1297px 1408px #FFF , 1892px 1008px #FFF , 1238px 702px #FFF , 1378px 1099px #FFF , 80px 80px #FFF , 407px 824px #FFF , 252px 1379px #FFF , 1763px 15px #FFF , 1802px 325px #FFF , 333px 1531px #FFF , 886px 829px #FFF , 1222px 778px #FFF , 62px 1341px #FFF , 385px 318px #FFF , 360px 541px #FFF , 233px 993px #FFF , 960px 67px #FFF , 915px 1289px #FFF , 156px 1213px #FFF , 66px 1743px #FFF , 104px 673px #FFF , 680px 835px #FFF , 1442px 1603px #FFF;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    width: 1px;
    height: 1px;
    box-shadow: 959px 615px #FFF , 1505px 402px #FFF , 1385px 1752px #FFF , 1893px 124px #FFF , 751px 267px #FFF , 1894px 1133px #FFF , 258px 370px #FFF , 700px 1900px #FFF , 1487px 1702px #FFF , 1697px 446px #FFF , 413px 591px #FFF , 1257px 302px #FFF , 1020px 360px #FFF , 640px 1038px #FFF , 1007px 1425px #FFF , 863px 1933px #FFF , 730px 1079px #FFF , 835px 917px #FFF , 107px 2px #FFF , 1634px 1700px #FFF , 994px 566px #FFF , 878px 834px #FFF , 405px 180px #FFF , 439px 1750px #FFF , 281px 955px #FFF , 665px 635px #FFF , 1161px 877px #FFF , 1584px 609px #FFF , 1602px 361px #FFF , 1948px 1457px #FFF , 1342px 928px #FFF , 1837px 706px #FFF , 730px 943px #FFF , 3px 1880px #FFF , 152px 1518px #FFF , 413px 1452px #FFF , 842px 935px #FFF , 920px 1756px #FFF , 266px 1786px #FFF , 158px 774px #FFF , 1481px 589px #FFF , 760px 385px #FFF , 1573px 718px #FFF , 1366px 126px #FFF , 1443px 1501px #FFF , 883px 1863px #FFF , 161px 255px #FFF , 395px 619px #FFF , 867px 1167px #FFF , 1597px 1198px #FFF , 720px 401px #FFF , 124px 868px #FFF , 1735px 258px #FFF , 853px 1006px #FFF , 1739px 401px #FFF , 1089px 1696px #FFF , 111px 1790px #FFF , 1165px 1518px #FFF , 247px 1444px #FFF , 1401px 345px #FFF , 430px 95px #FFF , 1594px 1631px #FFF , 342px 343px #FFF , 1798px 1090px #FFF , 1217px 458px #FFF , 1518px 1154px #FFF , 1248px 644px #FFF , 1254px 1624px #FFF , 1437px 546px #FFF , 423px 1084px #FFF , 656px 1876px #FFF , 1764px 1831px #FFF , 912px 1926px #FFF , 321px 704px #FFF , 60px 251px #FFF , 467px 242px #FFF , 837px 1419px #FFF , 616px 1346px #FFF , 1035px 611px #FFF , 1315px 1325px #FFF , 1968px 1889px #FFF , 1508px 1873px #FFF , 958px 581px #FFF , 1848px 1137px #FFF , 1445px 1943px #FFF , 1585px 657px #FFF , 1603px 1231px #FFF , 1579px 496px #FFF , 779px 1437px #FFF , 757px 824px #FFF , 1871px 837px #FFF , 1832px 1638px #FFF , 525px 435px #FFF , 1608px 88px #FFF , 463px 516px #FFF , 1848px 1622px #FFF , 1295px 813px #FFF , 814px 254px #FFF , 484px 1181px #FFF , 134px 1651px #FFF , 1518px 1986px #FFF , 1265px 1280px #FFF , 1628px 1808px #FFF , 879px 963px #FFF , 428px 67px #FFF , 1932px 1277px #FFF , 1940px 332px #FFF , 1868px 1385px #FFF , 1085px 1682px #FFF , 1377px 343px #FFF , 1191px 1946px #FFF , 136px 1074px #FFF , 78px 1293px #FFF , 1932px 1436px #FFF , 328px 1214px #FFF , 143px 758px #FFF , 1253px 1448px #FFF , 1671px 1309px #FFF , 822px 1128px #FFF , 1675px 1072px #FFF , 1656px 1632px #FFF , 922px 68px #FFF , 1848px 726px #FFF , 1863px 256px #FFF , 159px 1798px #FFF , 474px 558px #FFF , 735px 660px #FFF , 159px 377px #FFF , 1977px 116px #FFF , 1572px 1487px #FFF , 826px 458px #FFF , 1836px 962px #FFF , 1095px 1146px #FFF , 688px 1217px #FFF , 1956px 666px #FFF , 1300px 226px #FFF , 1454px 1542px #FFF , 1117px 500px #FFF , 1379px 1272px #FFF , 1042px 1761px #FFF , 1288px 42px #FFF , 1060px 1989px #FFF , 1450px 1563px #FFF , 454px 227px #FFF , 424px 280px #FFF , 1580px 1340px #FFF , 1395px 448px #FFF , 1708px 1732px #FFF , 609px 71px #FFF , 1265px 725px #FFF , 936px 1422px #FFF , 1615px 195px #FFF , 1673px 1492px #FFF , 301px 795px #FFF , 1603px 1227px #FFF , 515px 1488px #FFF , 382px 48px #FFF , 411px 1645px #FFF , 968px 1250px #FFF , 782px 395px #FFF , 1859px 423px #FFF , 1701px 884px #FFF , 874px 1840px #FFF , 1466px 841px #FFF , 338px 318px #FFF , 1798px 1281px #FFF , 959px 1428px #FFF , 1518px 457px #FFF , 1893px 266px #FFF , 426px 1077px #FFF , 1471px 1802px #FFF , 1421px 125px #FFF , 782px 1116px #FFF , 1093px 652px #FFF , 1127px 1780px #FFF , 1730px 800px #FFF , 347px 1626px #FFF , 1297px 1408px #FFF , 1892px 1008px #FFF , 1238px 702px #FFF , 1378px 1099px #FFF , 80px 80px #FFF , 407px 824px #FFF , 252px 1379px #FFF , 1763px 15px #FFF , 1802px 325px #FFF , 333px 1531px #FFF , 886px 829px #FFF , 1222px 778px #FFF , 62px 1341px #FFF , 385px 318px #FFF , 360px 541px #FFF , 233px 993px #FFF , 960px 67px #FFF , 915px 1289px #FFF , 156px 1213px #FFF , 66px 1743px #FFF , 104px 673px #FFF , 680px 835px #FFF , 1442px 1603px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: 38px 1669px #FFF , 715px 241px #FFF , 516px 1231px #FFF , 1858px 1139px #FFF , 1515px 597px #FFF , 636px 1890px #FFF , 1950px 148px #FFF , 1023px 644px #FFF , 1770px 562px #FFF , 1704px 1554px #FFF , 1384px 1435px #FFF , 344px 1385px #FFF , 1764px 1040px #FFF , 147px 1011px #FFF , 463px 1516px #FFF , 1551px 1986px #FFF , 1009px 535px #FFF , 155px 1190px #FFF , 891px 1357px #FFF , 1344px 1592px #FFF , 1956px 1452px #FFF , 1646px 679px #FFF , 838px 1668px #FFF , 1018px 660px #FFF , 622px 431px #FFF , 743px 1523px #FFF , 912px 612px #FFF , 677px 1386px #FFF , 1799px 109px #FFF , 601px 580px #FFF , 391px 1750px #FFF , 1439px 1997px #FFF , 1470px 1342px #FFF , 1689px 825px #FFF , 1364px 633px #FFF , 1681px 321px #FFF , 668px 935px #FFF , 404px 167px #FFF , 494px 324px #FFF , 698px 438px #FFF , 816px 1749px #FFF , 735px 1297px #FFF , 697px 868px #FFF , 403px 265px #FFF , 1180px 1703px #FFF , 515px 1829px #FFF , 1566px 1066px #FFF , 288px 813px #FFF , 1535px 977px #FFF , 1336px 1540px #FFF , 1273px 1465px #FFF , 1231px 938px #FFF , 358px 1336px #FFF , 754px 675px #FFF , 1434px 12px #FFF , 1197px 978px #FFF , 210px 88px #FFF , 410px 1328px #FFF , 1098px 1200px #FFF , 1877px 406px #FFF , 104px 535px #FFF , 1612px 12px #FFF , 1179px 1185px #FFF , 1909px 141px #FFF , 300px 1268px #FFF , 1167px 368px #FFF , 73px 780px #FFF , 1296px 312px #FFF , 1418px 654px #FFF , 180px 1755px #FFF , 74px 1901px #FFF , 469px 163px #FFF , 770px 411px #FFF , 71px 121px #FFF , 563px 530px #FFF , 1970px 948px #FFF , 1695px 852px #FFF , 643px 960px #FFF , 1246px 1401px #FFF , 787px 350px #FFF , 1419px 1523px #FFF , 459px 198px #FFF , 1111px 1973px #FFF , 1924px 750px #FFF , 319px 551px #FFF , 1649px 165px #FFF , 101px 1172px #FFF , 937px 551px #FFF , 136px 953px #FFF , 1913px 1098px #FFF , 231px 651px #FFF , 815px 1885px #FFF , 235px 282px #FFF , 778px 191px #FFF , 1111px 1374px #FFF , 1131px 22px #FFF , 1155px 765px #FFF , 822px 1990px #FFF , 299px 47px #FFF , 692px 1564px #FFF;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    width: 2px;
    height: 2px;
    box-shadow: 38px 1669px #FFF , 715px 241px #FFF , 516px 1231px #FFF , 1858px 1139px #FFF , 1515px 597px #FFF , 636px 1890px #FFF , 1950px 148px #FFF , 1023px 644px #FFF , 1770px 562px #FFF , 1704px 1554px #FFF , 1384px 1435px #FFF , 344px 1385px #FFF , 1764px 1040px #FFF , 147px 1011px #FFF , 463px 1516px #FFF , 1551px 1986px #FFF , 1009px 535px #FFF , 155px 1190px #FFF , 891px 1357px #FFF , 1344px 1592px #FFF , 1956px 1452px #FFF , 1646px 679px #FFF , 838px 1668px #FFF , 1018px 660px #FFF , 622px 431px #FFF , 743px 1523px #FFF , 912px 612px #FFF , 677px 1386px #FFF , 1799px 109px #FFF , 601px 580px #FFF , 391px 1750px #FFF , 1439px 1997px #FFF , 1470px 1342px #FFF , 1689px 825px #FFF , 1364px 633px #FFF , 1681px 321px #FFF , 668px 935px #FFF , 404px 167px #FFF , 494px 324px #FFF , 698px 438px #FFF , 816px 1749px #FFF , 735px 1297px #FFF , 697px 868px #FFF , 403px 265px #FFF , 1180px 1703px #FFF , 515px 1829px #FFF , 1566px 1066px #FFF , 288px 813px #FFF , 1535px 977px #FFF , 1336px 1540px #FFF , 1273px 1465px #FFF , 1231px 938px #FFF , 358px 1336px #FFF , 754px 675px #FFF , 1434px 12px #FFF , 1197px 978px #FFF , 210px 88px #FFF , 410px 1328px #FFF , 1098px 1200px #FFF , 1877px 406px #FFF , 104px 535px #FFF , 1612px 12px #FFF , 1179px 1185px #FFF , 1909px 141px #FFF , 300px 1268px #FFF , 1167px 368px #FFF , 73px 780px #FFF , 1296px 312px #FFF , 1418px 654px #FFF , 180px 1755px #FFF , 74px 1901px #FFF , 469px 163px #FFF , 770px 411px #FFF , 71px 121px #FFF , 563px 530px #FFF , 1970px 948px #FFF , 1695px 852px #FFF , 643px 960px #FFF , 1246px 1401px #FFF , 787px 350px #FFF , 1419px 1523px #FFF , 459px 198px #FFF , 1111px 1973px #FFF , 1924px 750px #FFF , 319px 551px #FFF , 1649px 165px #FFF , 101px 1172px #FFF , 937px 551px #FFF , 136px 953px #FFF , 1913px 1098px #FFF , 231px 651px #FFF , 815px 1885px #FFF , 235px 282px #FFF , 778px 191px #FFF , 1111px 1374px #FFF , 1131px 22px #FFF , 1155px 765px #FFF , 822px 1990px #FFF , 299px 47px #FFF , 692px 1564px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  box-shadow: 32px 981px #FFF , 1585px 816px #FFF , 1754px 591px #FFF , 1672px 1509px #FFF , 581px 467px #FFF , 1299px 945px #FFF , 1429px 129px #FFF , 1367px 1639px #FFF , 1576px 1158px #FFF , 79px 1133px #FFF , 1px 1674px #FFF , 1345px 1208px #FFF , 395px 1090px #FFF , 429px 1417px #FFF , 1901px 1904px #FFF , 296px 516px #FFF , 1811px 910px #FFF , 622px 557px #FFF , 536px 1512px #FFF , 1205px 183px #FFF , 445px 1125px #FFF , 439px 1039px #FFF , 1771px 108px #FFF , 1040px 985px #FFF , 332px 650px #FFF , 405px 1663px #FFF , 455px 1886px #FFF , 237px 1920px #FFF , 1541px 404px #FFF , 1064px 722px #FFF , 103px 1482px #FFF , 382px 1358px #FFF , 1295px 1142px #FFF , 1430px 510px #FFF , 1966px 681px #FFF , 1836px 1393px #FFF , 468px 424px #FFF , 1749px 1141px #FFF , 1876px 1797px #FFF , 271px 688px #FFF , 1489px 587px #FFF , 838px 1711px #FFF , 1275px 1090px #FFF , 162px 1279px #FFF , 1093px 1680px #FFF , 842px 283px #FFF , 1276px 824px #FFF , 1791px 988px #FFF , 1496px 966px #FFF , 762px 39px #FFF;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    width: 3px;
    height: 3px;
    box-shadow: 32px 981px #FFF , 1585px 816px #FFF , 1754px 591px #FFF , 1672px 1509px #FFF , 581px 467px #FFF , 1299px 945px #FFF , 1429px 129px #FFF , 1367px 1639px #FFF , 1576px 1158px #FFF , 79px 1133px #FFF , 1px 1674px #FFF , 1345px 1208px #FFF , 395px 1090px #FFF , 429px 1417px #FFF , 1901px 1904px #FFF , 296px 516px #FFF , 1811px 910px #FFF , 622px 557px #FFF , 536px 1512px #FFF , 1205px 183px #FFF , 445px 1125px #FFF , 439px 1039px #FFF , 1771px 108px #FFF , 1040px 985px #FFF , 332px 650px #FFF , 405px 1663px #FFF , 455px 1886px #FFF , 237px 1920px #FFF , 1541px 404px #FFF , 1064px 722px #FFF , 103px 1482px #FFF , 382px 1358px #FFF , 1295px 1142px #FFF , 1430px 510px #FFF , 1966px 681px #FFF , 1836px 1393px #FFF , 468px 424px #FFF , 1749px 1141px #FFF , 1876px 1797px #FFF , 271px 688px #FFF , 1489px 587px #FFF , 838px 1711px #FFF , 1275px 1090px #FFF , 162px 1279px #FFF , 1093px 1680px #FFF , 842px 283px #FFF , 1276px 824px #FFF , 1791px 988px #FFF , 1496px 966px #FFF , 762px 39px #FFF; }

@keyframes animStar {
  from {
    transform: translateY(-500px); }
  to {
    transform: translateY(-2000px); } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden !important;
  max-width: 100vw; }

body {
  height: 2000px;
  background: radial-gradient(circle at bottom, #1B2735 0%, #090A0F 100%);
  color: #FFF;
  font-family: "lato", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: revert;
  justify-content: space-evenly; }

article {
  z-index: 2;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  padding: 4%; }

.bienvenida {
  margin-bottom: 15%; }
  .bienvenida #avion {
    width: 20vw;
    position: absolute;
    animation: toLeft 35s infinite linear; }
@keyframes toLeft {
  from {
    transform: translateX(20vw); }
  to {
    transform: translateX(-100vw); } }
#sol {
  width: 20vw;
  position: fixed;
  left: 1px;
  bottom: 40vh;
  filter: drop-shadow(0px 0px 40px #727230);
  animation: clockWise 10s infinite linear; }
@keyframes clockWise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
#luna {
  width: 100vw;
  position: absolute;
  z-index: 1;
  top: -61vw;
  filter: drop-shadow(0 0 20px white) brightness(0.9);
  animation: counterClockWise 20s infinite linear; }

@keyframes counterClockWise {
  from {
    transform: rotate(359deg); }
  to {
    transform: rotate(0deg); } }
#satelite {
  width: 20vw;
  position: absolute;
  filter: brightness(0.7);
  animation: orbit 10s infinite linear; }
@keyframes orbit {
  from {
    transform: rotate(359deg);
    right: -10vw; }
  to {
    transform: rotate(0deg);
    right: 105vw; } }
#nubeAlta1 {
  position: absolute;
  bottom: 90vh;
  filter: drop-shadow(0 0 5px);
  animation: toRight 35s infinite linear; }

#nubeAlta2 {
  position: absolute;
  bottom: 85vh;
  transform: scaleX(-1);
  filter: drop-shadow(0 0 5px);
  animation: toLeft 35s infinite linear; }

.land {
  position: relative;
  bottom: 0px; }
  .land img {
    position: absolute; }
  .land #montana {
    position: relative;
    bottom: 5px;
    filter: brightness(0.7); }
  .land #naveLarga {
    width: 150px;
    left: 55%;
    bottom: 0%; }
  .land #astronauta {
    width: 40px;
    left: 35%;
    bottom: 0; }
  .land #arbusto {
    bottom: 0;
    left: -10%; }
  .land #arbol {
    bottom: 0;
    right: -20%; }
  .land #globo {
    height: 70px;
    top: 10px;
    left: 50%;
    animation: float 5s infinite; }
@keyframes float {
  50% {
    transform: translateY(50px); } }
  .land #nube1 {
    opacity: 0.5;
    top: -10px;
    left: -30vw;
    filter: blur(1px);
    animation: toRight 35s infinite linear; }
@keyframes toRight {
  from {
    transform: translateX(-20vw); }
  to {
    transform: translateX(120vw); } }
  .land #nube2 {
    opacity: 0.5;
    top: 5px;
    right: -30vw;
    filter: blur(1px);
    animation: toLeft 35s infinite linear; }
@keyframes toLeft {
  from {
    transform: translateX(20vw); }
  to {
    transform: translateX(-100vw); } }
  .land #copyright {
    display: block;
    position: relative;
    text-align: center;
    bottom: -15%; }

/*# sourceMappingURL=styles.css.map */
