#stars, #stars2, #stars3 {
  align-self: stretch;
  background: transparent;
  position: absolute; }

#stars {
  width: 1px;
  height: 1px;
  box-shadow: 1304px 134px #FFF , 439px 1707px #FFF , 234px 1512px #FFF , 799px 224px #FFF , 167px 1822px #FFF , 1292px 1748px #FFF , 1170px 260px #FFF , 1137px 571px #FFF , 213px 774px #FFF , 240px 1726px #FFF , 874px 1499px #FFF , 386px 458px #FFF , 1984px 659px #FFF , 1816px 772px #FFF , 367px 1306px #FFF , 1750px 1108px #FFF , 802px 1477px #FFF , 877px 1346px #FFF , 623px 335px #FFF , 1710px 1822px #FFF , 474px 799px #FFF , 1303px 482px #FFF , 99px 1618px #FFF , 1868px 1947px #FFF , 325px 1588px #FFF , 1785px 1815px #FFF , 194px 818px #FFF , 148px 1047px #FFF , 317px 1334px #FFF , 1797px 854px #FFF , 1670px 321px #FFF , 1229px 182px #FFF , 408px 1879px #FFF , 1331px 1572px #FFF , 792px 141px #FFF , 708px 1724px #FFF , 865px 587px #FFF , 812px 970px #FFF , 457px 303px #FFF , 1551px 1631px #FFF , 1507px 366px #FFF , 939px 1535px #FFF , 1488px 762px #FFF , 907px 1758px #FFF , 1013px 1592px #FFF , 443px 804px #FFF , 564px 466px #FFF , 1283px 1654px #FFF , 1634px 1434px #FFF , 1444px 1571px #FFF , 1730px 447px #FFF , 701px 1154px #FFF , 849px 1540px #FFF , 1097px 556px #FFF , 119px 263px #FFF , 1430px 804px #FFF , 1362px 1853px #FFF , 1974px 812px #FFF , 1586px 446px #FFF , 202px 1646px #FFF , 1952px 1608px #FFF , 763px 461px #FFF , 1531px 908px #FFF , 1132px 1998px #FFF , 257px 1035px #FFF , 1660px 1838px #FFF , 1143px 1837px #FFF , 831px 1396px #FFF , 20px 789px #FFF , 840px 521px #FFF , 859px 1130px #FFF , 792px 1066px #FFF , 1189px 1317px #FFF , 1721px 1461px #FFF , 1157px 10px #FFF , 276px 1016px #FFF , 1114px 1783px #FFF , 1838px 1380px #FFF , 1618px 104px #FFF , 595px 207px #FFF , 1499px 353px #FFF , 551px 829px #FFF , 1272px 178px #FFF , 1072px 116px #FFF , 314px 712px #FFF , 1245px 529px #FFF , 1477px 1104px #FFF , 1556px 366px #FFF , 66px 761px #FFF , 220px 18px #FFF , 1170px 1476px #FFF , 1250px 579px #FFF , 1674px 1887px #FFF , 1455px 1418px #FFF , 963px 1582px #FFF , 334px 1594px #FFF , 174px 343px #FFF , 1118px 1823px #FFF , 362px 1142px #FFF , 1598px 198px #FFF , 1174px 1377px #FFF , 1698px 482px #FFF , 30px 1045px #FFF , 905px 408px #FFF , 671px 1454px #FFF , 1231px 1867px #FFF , 1687px 997px #FFF , 1962px 656px #FFF , 512px 631px #FFF , 777px 141px #FFF , 1926px 1477px #FFF , 813px 351px #FFF , 1791px 554px #FFF , 1417px 1085px #FFF , 1080px 954px #FFF , 1012px 237px #FFF , 1552px 390px #FFF , 274px 1810px #FFF , 1450px 823px #FFF , 827px 96px #FFF , 1090px 938px #FFF , 1541px 1026px #FFF , 1054px 343px #FFF , 1506px 693px #FFF , 1361px 690px #FFF , 1907px 393px #FFF , 921px 166px #FFF , 1117px 1436px #FFF , 1143px 1802px #FFF , 1296px 724px #FFF , 1632px 1850px #FFF , 1811px 1783px #FFF , 1077px 299px #FFF , 873px 812px #FFF , 862px 1328px #FFF , 1375px 81px #FFF , 790px 789px #FFF , 957px 1577px #FFF , 1937px 705px #FFF , 290px 1236px #FFF , 990px 1624px #FFF , 1138px 1870px #FFF , 1248px 1072px #FFF , 612px 1636px #FFF , 1175px 1706px #FFF , 489px 1301px #FFF , 648px 1699px #FFF , 88px 808px #FFF , 796px 1057px #FFF , 1551px 1269px #FFF , 246px 1833px #FFF , 1138px 725px #FFF , 1254px 1915px #FFF , 1313px 1465px #FFF , 1947px 1182px #FFF , 1258px 431px #FFF , 632px 481px #FFF , 405px 383px #FFF , 1626px 1418px #FFF , 454px 1014px #FFF , 1776px 732px #FFF , 1391px 1254px #FFF , 1116px 597px #FFF , 839px 1018px #FFF , 1692px 85px #FFF , 544px 309px #FFF , 1195px 1350px #FFF , 845px 79px #FFF , 929px 564px #FFF , 1075px 1802px #FFF , 162px 630px #FFF , 723px 1725px #FFF , 1429px 1612px #FFF , 467px 1300px #FFF , 808px 539px #FFF , 1781px 1341px #FFF , 985px 233px #FFF , 856px 1792px #FFF , 1401px 693px #FFF , 419px 799px #FFF , 598px 73px #FFF , 1243px 1133px #FFF , 1726px 716px #FFF , 1282px 268px #FFF , 378px 1628px #FFF , 337px 274px #FFF , 602px 1000px #FFF , 1394px 501px #FFF , 454px 120px #FFF , 444px 1866px #FFF , 806px 230px #FFF , 1146px 1556px #FFF , 144px 1397px #FFF , 1087px 1024px #FFF , 1467px 1281px #FFF , 591px 1960px #FFF , 960px 976px #FFF , 393px 37px #FFF , 1709px 738px #FFF , 1215px 135px #FFF;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    width: 1px;
    height: 1px;
    box-shadow: 1304px 134px #FFF , 439px 1707px #FFF , 234px 1512px #FFF , 799px 224px #FFF , 167px 1822px #FFF , 1292px 1748px #FFF , 1170px 260px #FFF , 1137px 571px #FFF , 213px 774px #FFF , 240px 1726px #FFF , 874px 1499px #FFF , 386px 458px #FFF , 1984px 659px #FFF , 1816px 772px #FFF , 367px 1306px #FFF , 1750px 1108px #FFF , 802px 1477px #FFF , 877px 1346px #FFF , 623px 335px #FFF , 1710px 1822px #FFF , 474px 799px #FFF , 1303px 482px #FFF , 99px 1618px #FFF , 1868px 1947px #FFF , 325px 1588px #FFF , 1785px 1815px #FFF , 194px 818px #FFF , 148px 1047px #FFF , 317px 1334px #FFF , 1797px 854px #FFF , 1670px 321px #FFF , 1229px 182px #FFF , 408px 1879px #FFF , 1331px 1572px #FFF , 792px 141px #FFF , 708px 1724px #FFF , 865px 587px #FFF , 812px 970px #FFF , 457px 303px #FFF , 1551px 1631px #FFF , 1507px 366px #FFF , 939px 1535px #FFF , 1488px 762px #FFF , 907px 1758px #FFF , 1013px 1592px #FFF , 443px 804px #FFF , 564px 466px #FFF , 1283px 1654px #FFF , 1634px 1434px #FFF , 1444px 1571px #FFF , 1730px 447px #FFF , 701px 1154px #FFF , 849px 1540px #FFF , 1097px 556px #FFF , 119px 263px #FFF , 1430px 804px #FFF , 1362px 1853px #FFF , 1974px 812px #FFF , 1586px 446px #FFF , 202px 1646px #FFF , 1952px 1608px #FFF , 763px 461px #FFF , 1531px 908px #FFF , 1132px 1998px #FFF , 257px 1035px #FFF , 1660px 1838px #FFF , 1143px 1837px #FFF , 831px 1396px #FFF , 20px 789px #FFF , 840px 521px #FFF , 859px 1130px #FFF , 792px 1066px #FFF , 1189px 1317px #FFF , 1721px 1461px #FFF , 1157px 10px #FFF , 276px 1016px #FFF , 1114px 1783px #FFF , 1838px 1380px #FFF , 1618px 104px #FFF , 595px 207px #FFF , 1499px 353px #FFF , 551px 829px #FFF , 1272px 178px #FFF , 1072px 116px #FFF , 314px 712px #FFF , 1245px 529px #FFF , 1477px 1104px #FFF , 1556px 366px #FFF , 66px 761px #FFF , 220px 18px #FFF , 1170px 1476px #FFF , 1250px 579px #FFF , 1674px 1887px #FFF , 1455px 1418px #FFF , 963px 1582px #FFF , 334px 1594px #FFF , 174px 343px #FFF , 1118px 1823px #FFF , 362px 1142px #FFF , 1598px 198px #FFF , 1174px 1377px #FFF , 1698px 482px #FFF , 30px 1045px #FFF , 905px 408px #FFF , 671px 1454px #FFF , 1231px 1867px #FFF , 1687px 997px #FFF , 1962px 656px #FFF , 512px 631px #FFF , 777px 141px #FFF , 1926px 1477px #FFF , 813px 351px #FFF , 1791px 554px #FFF , 1417px 1085px #FFF , 1080px 954px #FFF , 1012px 237px #FFF , 1552px 390px #FFF , 274px 1810px #FFF , 1450px 823px #FFF , 827px 96px #FFF , 1090px 938px #FFF , 1541px 1026px #FFF , 1054px 343px #FFF , 1506px 693px #FFF , 1361px 690px #FFF , 1907px 393px #FFF , 921px 166px #FFF , 1117px 1436px #FFF , 1143px 1802px #FFF , 1296px 724px #FFF , 1632px 1850px #FFF , 1811px 1783px #FFF , 1077px 299px #FFF , 873px 812px #FFF , 862px 1328px #FFF , 1375px 81px #FFF , 790px 789px #FFF , 957px 1577px #FFF , 1937px 705px #FFF , 290px 1236px #FFF , 990px 1624px #FFF , 1138px 1870px #FFF , 1248px 1072px #FFF , 612px 1636px #FFF , 1175px 1706px #FFF , 489px 1301px #FFF , 648px 1699px #FFF , 88px 808px #FFF , 796px 1057px #FFF , 1551px 1269px #FFF , 246px 1833px #FFF , 1138px 725px #FFF , 1254px 1915px #FFF , 1313px 1465px #FFF , 1947px 1182px #FFF , 1258px 431px #FFF , 632px 481px #FFF , 405px 383px #FFF , 1626px 1418px #FFF , 454px 1014px #FFF , 1776px 732px #FFF , 1391px 1254px #FFF , 1116px 597px #FFF , 839px 1018px #FFF , 1692px 85px #FFF , 544px 309px #FFF , 1195px 1350px #FFF , 845px 79px #FFF , 929px 564px #FFF , 1075px 1802px #FFF , 162px 630px #FFF , 723px 1725px #FFF , 1429px 1612px #FFF , 467px 1300px #FFF , 808px 539px #FFF , 1781px 1341px #FFF , 985px 233px #FFF , 856px 1792px #FFF , 1401px 693px #FFF , 419px 799px #FFF , 598px 73px #FFF , 1243px 1133px #FFF , 1726px 716px #FFF , 1282px 268px #FFF , 378px 1628px #FFF , 337px 274px #FFF , 602px 1000px #FFF , 1394px 501px #FFF , 454px 120px #FFF , 444px 1866px #FFF , 806px 230px #FFF , 1146px 1556px #FFF , 144px 1397px #FFF , 1087px 1024px #FFF , 1467px 1281px #FFF , 591px 1960px #FFF , 960px 976px #FFF , 393px 37px #FFF , 1709px 738px #FFF , 1215px 135px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: 255px 344px #FFF , 130px 1271px #FFF , 957px 1207px #FFF , 950px 1509px #FFF , 1103px 56px #FFF , 1596px 750px #FFF , 783px 997px #FFF , 32px 1047px #FFF , 1243px 66px #FFF , 1644px 199px #FFF , 1723px 1787px #FFF , 1564px 1358px #FFF , 1654px 1268px #FFF , 1702px 1149px #FFF , 377px 1887px #FFF , 324px 1382px #FFF , 1585px 1058px #FFF , 1975px 736px #FFF , 139px 734px #FFF , 467px 1197px #FFF , 473px 217px #FFF , 1945px 1891px #FFF , 1719px 1700px #FFF , 814px 1448px #FFF , 338px 1206px #FFF , 1688px 1955px #FFF , 494px 1406px #FFF , 893px 1605px #FFF , 854px 708px #FFF , 1131px 790px #FFF , 705px 1665px #FFF , 460px 1149px #FFF , 1635px 200px #FFF , 663px 1610px #FFF , 516px 1883px #FFF , 492px 1566px #FFF , 54px 1864px #FFF , 711px 976px #FFF , 301px 1316px #FFF , 757px 477px #FFF , 562px 1411px #FFF , 1873px 1333px #FFF , 1260px 338px #FFF , 415px 1846px #FFF , 1875px 207px #FFF , 1035px 287px #FFF , 246px 1828px #FFF , 1333px 575px #FFF , 237px 85px #FFF , 1822px 868px #FFF , 827px 34px #FFF , 1568px 1659px #FFF , 198px 253px #FFF , 1103px 1890px #FFF , 1138px 264px #FFF , 829px 1292px #FFF , 95px 1295px #FFF , 974px 134px #FFF , 698px 72px #FFF , 1481px 947px #FFF , 1151px 879px #FFF , 340px 1065px #FFF , 305px 1219px #FFF , 850px 821px #FFF , 1638px 1974px #FFF , 344px 1612px #FFF , 1908px 1083px #FFF , 683px 644px #FFF , 848px 320px #FFF , 1287px 884px #FFF , 1542px 16px #FFF , 985px 643px #FFF , 330px 1654px #FFF , 98px 1007px #FFF , 724px 1969px #FFF , 905px 605px #FFF , 1758px 1348px #FFF , 521px 910px #FFF , 278px 916px #FFF , 897px 708px #FFF , 1618px 1189px #FFF , 1134px 60px #FFF , 697px 961px #FFF , 1917px 1136px #FFF , 605px 1731px #FFF , 1348px 51px #FFF , 887px 357px #FFF , 210px 1063px #FFF , 606px 385px #FFF , 1213px 557px #FFF , 698px 1929px #FFF , 986px 719px #FFF , 1746px 1224px #FFF , 654px 1823px #FFF , 1753px 1816px #FFF , 1593px 942px #FFF , 123px 1547px #FFF , 56px 867px #FFF , 245px 1182px #FFF , 55px 1583px #FFF;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    width: 2px;
    height: 2px;
    box-shadow: 255px 344px #FFF , 130px 1271px #FFF , 957px 1207px #FFF , 950px 1509px #FFF , 1103px 56px #FFF , 1596px 750px #FFF , 783px 997px #FFF , 32px 1047px #FFF , 1243px 66px #FFF , 1644px 199px #FFF , 1723px 1787px #FFF , 1564px 1358px #FFF , 1654px 1268px #FFF , 1702px 1149px #FFF , 377px 1887px #FFF , 324px 1382px #FFF , 1585px 1058px #FFF , 1975px 736px #FFF , 139px 734px #FFF , 467px 1197px #FFF , 473px 217px #FFF , 1945px 1891px #FFF , 1719px 1700px #FFF , 814px 1448px #FFF , 338px 1206px #FFF , 1688px 1955px #FFF , 494px 1406px #FFF , 893px 1605px #FFF , 854px 708px #FFF , 1131px 790px #FFF , 705px 1665px #FFF , 460px 1149px #FFF , 1635px 200px #FFF , 663px 1610px #FFF , 516px 1883px #FFF , 492px 1566px #FFF , 54px 1864px #FFF , 711px 976px #FFF , 301px 1316px #FFF , 757px 477px #FFF , 562px 1411px #FFF , 1873px 1333px #FFF , 1260px 338px #FFF , 415px 1846px #FFF , 1875px 207px #FFF , 1035px 287px #FFF , 246px 1828px #FFF , 1333px 575px #FFF , 237px 85px #FFF , 1822px 868px #FFF , 827px 34px #FFF , 1568px 1659px #FFF , 198px 253px #FFF , 1103px 1890px #FFF , 1138px 264px #FFF , 829px 1292px #FFF , 95px 1295px #FFF , 974px 134px #FFF , 698px 72px #FFF , 1481px 947px #FFF , 1151px 879px #FFF , 340px 1065px #FFF , 305px 1219px #FFF , 850px 821px #FFF , 1638px 1974px #FFF , 344px 1612px #FFF , 1908px 1083px #FFF , 683px 644px #FFF , 848px 320px #FFF , 1287px 884px #FFF , 1542px 16px #FFF , 985px 643px #FFF , 330px 1654px #FFF , 98px 1007px #FFF , 724px 1969px #FFF , 905px 605px #FFF , 1758px 1348px #FFF , 521px 910px #FFF , 278px 916px #FFF , 897px 708px #FFF , 1618px 1189px #FFF , 1134px 60px #FFF , 697px 961px #FFF , 1917px 1136px #FFF , 605px 1731px #FFF , 1348px 51px #FFF , 887px 357px #FFF , 210px 1063px #FFF , 606px 385px #FFF , 1213px 557px #FFF , 698px 1929px #FFF , 986px 719px #FFF , 1746px 1224px #FFF , 654px 1823px #FFF , 1753px 1816px #FFF , 1593px 942px #FFF , 123px 1547px #FFF , 56px 867px #FFF , 245px 1182px #FFF , 55px 1583px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  box-shadow: 959px 1336px #FFF , 1205px 1306px #FFF , 643px 1826px #FFF , 1442px 981px #FFF , 1169px 672px #FFF , 1889px 100px #FFF , 504px 1962px #FFF , 1975px 1625px #FFF , 1833px 1609px #FFF , 1642px 1387px #FFF , 347px 1223px #FFF , 957px 580px #FFF , 212px 287px #FFF , 1155px 66px #FFF , 6px 1377px #FFF , 806px 458px #FFF , 1954px 1416px #FFF , 1453px 1435px #FFF , 876px 1971px #FFF , 789px 157px #FFF , 655px 225px #FFF , 1280px 1200px #FFF , 1181px 1371px #FFF , 1875px 1853px #FFF , 1912px 894px #FFF , 1240px 317px #FFF , 901px 1950px #FFF , 1585px 882px #FFF , 960px 1119px #FFF , 1663px 1691px #FFF , 220px 1812px #FFF , 1436px 921px #FFF , 1901px 1488px #FFF , 1818px 58px #FFF , 1758px 1244px #FFF , 562px 351px #FFF , 21px 232px #FFF , 1042px 245px #FFF , 1757px 649px #FFF , 661px 703px #FFF , 1714px 917px #FFF , 1091px 465px #FFF , 1405px 1900px #FFF , 494px 57px #FFF , 150px 1468px #FFF , 549px 1852px #FFF , 1882px 539px #FFF , 911px 1187px #FFF , 1856px 1171px #FFF , 355px 34px #FFF;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    width: 3px;
    height: 3px;
    box-shadow: 959px 1336px #FFF , 1205px 1306px #FFF , 643px 1826px #FFF , 1442px 981px #FFF , 1169px 672px #FFF , 1889px 100px #FFF , 504px 1962px #FFF , 1975px 1625px #FFF , 1833px 1609px #FFF , 1642px 1387px #FFF , 347px 1223px #FFF , 957px 580px #FFF , 212px 287px #FFF , 1155px 66px #FFF , 6px 1377px #FFF , 806px 458px #FFF , 1954px 1416px #FFF , 1453px 1435px #FFF , 876px 1971px #FFF , 789px 157px #FFF , 655px 225px #FFF , 1280px 1200px #FFF , 1181px 1371px #FFF , 1875px 1853px #FFF , 1912px 894px #FFF , 1240px 317px #FFF , 901px 1950px #FFF , 1585px 882px #FFF , 960px 1119px #FFF , 1663px 1691px #FFF , 220px 1812px #FFF , 1436px 921px #FFF , 1901px 1488px #FFF , 1818px 58px #FFF , 1758px 1244px #FFF , 562px 351px #FFF , 21px 232px #FFF , 1042px 245px #FFF , 1757px 649px #FFF , 661px 703px #FFF , 1714px 917px #FFF , 1091px 465px #FFF , 1405px 1900px #FFF , 494px 57px #FFF , 150px 1468px #FFF , 549px 1852px #FFF , 1882px 539px #FFF , 911px 1187px #FFF , 1856px 1171px #FFF , 355px 34px #FFF; }

@keyframes animStar {
  from {
    transform: translateY(-500px); }
  to {
    transform: translateY(-2000px); } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 2000px;
  background: radial-gradient(circle at bottom, #1B2735 0%, #090A0F 100%);
  color: #FFF;
  font-family: "lato", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: revert;
  justify-content: space-around; }

article {
  z-index: 2;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  padding: 4%; }

h1, h2, h3 {
  margin-bottom: 20px;
  text-align: center; }

.contacto, .certificaciones {
  background: rgba(63, 62, 62, 0.179); }

.certificaciones {
  display: flex;
  flex-direction: column;
  align-items: center; }

p, span {
  text-align: justify; }

.bienvenida {
  margin-bottom: 15%; }
  .bienvenida #avion {
    width: 20vw;
    position: absolute;
    animation: toLeft 35s infinite linear; }
@keyframes toLeft {
  from {
    transform: translateX(20vw); }
  to {
    transform: translateX(-100vw); } }
#sol {
  width: 20vw;
  position: fixed;
  left: 1px;
  bottom: 40vh;
  filter: drop-shadow(0px 0px 40px #727230);
  animation: clockWise 10s infinite linear; }
@keyframes clockWise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
#luna {
  width: 100vw;
  position: absolute;
  z-index: 1;
  top: -61vw;
  filter: drop-shadow(0 0 20px white) brightness(0.9);
  animation: counterClockWise 20s infinite linear; }

@keyframes counterClockWise {
  from {
    transform: rotate(359deg); }
  to {
    transform: rotate(0deg); } }
#satelite {
  width: 20vw;
  position: absolute;
  filter: brightness(0.7);
  animation: orbit 10s infinite linear; }
@keyframes orbit {
  from {
    transform: rotate(359deg);
    right: -10vw; }
  to {
    transform: rotate(0deg);
    right: 105vw; } }
#nubeAlta1 {
  position: absolute;
  bottom: 90vh;
  filter: drop-shadow(0 0 5px);
  animation: toRight 35s infinite linear; }

#nubeAlta2 {
  position: absolute;
  bottom: 85vh;
  transform: scaleX(-1);
  filter: drop-shadow(0 0 5px);
  animation: toLeft 35s infinite linear; }

.land {
  position: relative;
  bottom: 0px; }
  .land img {
    position: absolute; }
  .land #montana {
    position: relative;
    bottom: 5px;
    filter: brightness(0.7); }
  .land #naveLarga {
    width: 150px;
    left: 55%;
    bottom: 0%; }
  .land #astronauta {
    width: 40px;
    left: 35%;
    bottom: 0; }
  .land #arbusto {
    bottom: 0;
    left: -10%; }
  .land #arbol {
    bottom: 0;
    right: -20%; }
  .land #globo {
    height: 70px;
    top: 10px;
    left: 50%;
    animation: float 5s infinite; }
@keyframes float {
  50% {
    transform: translateY(50px); } }
  .land #nube1 {
    opacity: 0.5;
    top: -10px;
    left: -30vw;
    filter: blur(1px);
    animation: toRight 35s infinite linear; }
@keyframes toRight {
  from {
    transform: translateX(-20vw); }
  to {
    transform: translateX(120vw); } }
  .land #nube2 {
    opacity: 0.5;
    top: 5px;
    right: -30vw;
    filter: blur(1px);
    animation: toLeft 35s infinite linear; }
@keyframes toLeft {
  from {
    transform: translateX(20vw); }
  to {
    transform: translateX(-100vw); } }
  .land #copyright {
    display: block;
    position: relative;
    text-align: center;
    bottom: -15%; }

.content-carrousel {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto); }
  .content-carrousel figure {
    display: flex;
    flex-direction: column;
    align-items: center; }

/*# sourceMappingURL=styles.css.map */
