#stars, #stars2, #stars3 {
  align-self: stretch;
  background: transparent;
  position: absolute; }

#stars {
  width: 1px;
  height: 1px;
  box-shadow: 945px 935px #FFF , 950px 1986px #FFF , 364px 1302px #FFF , 1463px 1464px #FFF , 517px 274px #FFF , 1123px 1764px #FFF , 572px 995px #FFF , 770px 703px #FFF , 1195px 1089px #FFF , 757px 1677px #FFF , 93px 129px #FFF , 1677px 109px #FFF , 1637px 394px #FFF , 1063px 515px #FFF , 280px 550px #FFF , 304px 194px #FFF , 1262px 108px #FFF , 625px 1806px #FFF , 1313px 480px #FFF , 1647px 1818px #FFF , 1365px 66px #FFF , 1555px 1964px #FFF , 1716px 777px #FFF , 241px 332px #FFF , 359px 1902px #FFF , 1226px 1880px #FFF , 487px 860px #FFF , 288px 506px #FFF , 1067px 449px #FFF , 1353px 699px #FFF , 351px 690px #FFF , 1610px 547px #FFF , 1665px 353px #FFF , 460px 913px #FFF , 319px 346px #FFF , 694px 562px #FFF , 710px 1674px #FFF , 1998px 882px #FFF , 980px 242px #FFF , 558px 1935px #FFF , 1613px 1261px #FFF , 1419px 1601px #FFF , 359px 436px #FFF , 416px 936px #FFF , 1639px 630px #FFF , 1700px 1848px #FFF , 289px 1626px #FFF , 1830px 6px #FFF , 1431px 651px #FFF , 1650px 1179px #FFF , 331px 1040px #FFF , 1166px 1834px #FFF , 1697px 904px #FFF , 1735px 392px #FFF , 1193px 679px #FFF , 334px 117px #FFF , 1850px 1853px #FFF , 683px 1420px #FFF , 1748px 266px #FFF , 931px 1353px #FFF , 1347px 944px #FFF , 1157px 469px #FFF , 995px 1863px #FFF , 93px 1590px #FFF , 102px 1721px #FFF , 1950px 1349px #FFF , 419px 96px #FFF , 1106px 1567px #FFF , 1394px 734px #FFF , 1124px 1044px #FFF , 634px 1697px #FFF , 569px 125px #FFF , 1771px 31px #FFF , 534px 1480px #FFF , 1496px 973px #FFF , 443px 358px #FFF , 1082px 1852px #FFF , 1041px 1177px #FFF , 252px 1958px #FFF , 47px 1819px #FFF , 1857px 1064px #FFF , 1104px 999px #FFF , 65px 1903px #FFF , 625px 1496px #FFF , 1377px 1198px #FFF , 1954px 937px #FFF , 1830px 988px #FFF , 665px 753px #FFF , 447px 1633px #FFF , 1121px 1546px #FFF , 419px 205px #FFF , 413px 1760px #FFF , 709px 1471px #FFF , 1890px 697px #FFF , 884px 652px #FFF , 83px 1135px #FFF , 1319px 1505px #FFF , 102px 471px #FFF , 1873px 142px #FFF , 1805px 1724px #FFF;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    width: 1px;
    height: 1px;
    box-shadow: 945px 935px #FFF , 950px 1986px #FFF , 364px 1302px #FFF , 1463px 1464px #FFF , 517px 274px #FFF , 1123px 1764px #FFF , 572px 995px #FFF , 770px 703px #FFF , 1195px 1089px #FFF , 757px 1677px #FFF , 93px 129px #FFF , 1677px 109px #FFF , 1637px 394px #FFF , 1063px 515px #FFF , 280px 550px #FFF , 304px 194px #FFF , 1262px 108px #FFF , 625px 1806px #FFF , 1313px 480px #FFF , 1647px 1818px #FFF , 1365px 66px #FFF , 1555px 1964px #FFF , 1716px 777px #FFF , 241px 332px #FFF , 359px 1902px #FFF , 1226px 1880px #FFF , 487px 860px #FFF , 288px 506px #FFF , 1067px 449px #FFF , 1353px 699px #FFF , 351px 690px #FFF , 1610px 547px #FFF , 1665px 353px #FFF , 460px 913px #FFF , 319px 346px #FFF , 694px 562px #FFF , 710px 1674px #FFF , 1998px 882px #FFF , 980px 242px #FFF , 558px 1935px #FFF , 1613px 1261px #FFF , 1419px 1601px #FFF , 359px 436px #FFF , 416px 936px #FFF , 1639px 630px #FFF , 1700px 1848px #FFF , 289px 1626px #FFF , 1830px 6px #FFF , 1431px 651px #FFF , 1650px 1179px #FFF , 331px 1040px #FFF , 1166px 1834px #FFF , 1697px 904px #FFF , 1735px 392px #FFF , 1193px 679px #FFF , 334px 117px #FFF , 1850px 1853px #FFF , 683px 1420px #FFF , 1748px 266px #FFF , 931px 1353px #FFF , 1347px 944px #FFF , 1157px 469px #FFF , 995px 1863px #FFF , 93px 1590px #FFF , 102px 1721px #FFF , 1950px 1349px #FFF , 419px 96px #FFF , 1106px 1567px #FFF , 1394px 734px #FFF , 1124px 1044px #FFF , 634px 1697px #FFF , 569px 125px #FFF , 1771px 31px #FFF , 534px 1480px #FFF , 1496px 973px #FFF , 443px 358px #FFF , 1082px 1852px #FFF , 1041px 1177px #FFF , 252px 1958px #FFF , 47px 1819px #FFF , 1857px 1064px #FFF , 1104px 999px #FFF , 65px 1903px #FFF , 625px 1496px #FFF , 1377px 1198px #FFF , 1954px 937px #FFF , 1830px 988px #FFF , 665px 753px #FFF , 447px 1633px #FFF , 1121px 1546px #FFF , 419px 205px #FFF , 413px 1760px #FFF , 709px 1471px #FFF , 1890px 697px #FFF , 884px 652px #FFF , 83px 1135px #FFF , 1319px 1505px #FFF , 102px 471px #FFF , 1873px 142px #FFF , 1805px 1724px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: 1430px 1680px #FFF , 901px 1405px #FFF , 1813px 1888px #FFF , 323px 669px #FFF , 1489px 154px #FFF , 1572px 1853px #FFF , 1130px 1000px #FFF , 1486px 1309px #FFF , 341px 1778px #FFF , 1942px 664px #FFF , 303px 1240px #FFF , 1031px 1173px #FFF , 1393px 95px #FFF , 1390px 385px #FFF , 1130px 1341px #FFF , 996px 1252px #FFF , 1979px 372px #FFF , 1416px 1072px #FFF , 697px 1924px #FFF , 1709px 914px #FFF , 1937px 1037px #FFF , 1871px 536px #FFF , 1087px 1657px #FFF , 1273px 483px #FFF , 1070px 1789px #FFF , 1036px 57px #FFF , 225px 1942px #FFF , 1869px 637px #FFF , 958px 1461px #FFF , 1357px 892px #FFF , 340px 1044px #FFF , 1371px 402px #FFF , 1818px 1144px #FFF , 71px 1530px #FFF , 401px 608px #FFF , 1539px 248px #FFF , 1740px 693px #FFF , 1206px 742px #FFF , 1491px 1545px #FFF , 1274px 312px #FFF , 43px 1325px #FFF , 1588px 1662px #FFF , 1992px 1352px #FFF , 794px 1162px #FFF , 1135px 1550px #FFF , 1490px 576px #FFF , 985px 270px #FFF , 223px 194px #FFF , 1718px 1883px #FFF , 677px 1329px #FFF;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    width: 2px;
    height: 2px;
    box-shadow: 1430px 1680px #FFF , 901px 1405px #FFF , 1813px 1888px #FFF , 323px 669px #FFF , 1489px 154px #FFF , 1572px 1853px #FFF , 1130px 1000px #FFF , 1486px 1309px #FFF , 341px 1778px #FFF , 1942px 664px #FFF , 303px 1240px #FFF , 1031px 1173px #FFF , 1393px 95px #FFF , 1390px 385px #FFF , 1130px 1341px #FFF , 996px 1252px #FFF , 1979px 372px #FFF , 1416px 1072px #FFF , 697px 1924px #FFF , 1709px 914px #FFF , 1937px 1037px #FFF , 1871px 536px #FFF , 1087px 1657px #FFF , 1273px 483px #FFF , 1070px 1789px #FFF , 1036px 57px #FFF , 225px 1942px #FFF , 1869px 637px #FFF , 958px 1461px #FFF , 1357px 892px #FFF , 340px 1044px #FFF , 1371px 402px #FFF , 1818px 1144px #FFF , 71px 1530px #FFF , 401px 608px #FFF , 1539px 248px #FFF , 1740px 693px #FFF , 1206px 742px #FFF , 1491px 1545px #FFF , 1274px 312px #FFF , 43px 1325px #FFF , 1588px 1662px #FFF , 1992px 1352px #FFF , 794px 1162px #FFF , 1135px 1550px #FFF , 1490px 576px #FFF , 985px 270px #FFF , 223px 194px #FFF , 1718px 1883px #FFF , 677px 1329px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  box-shadow: 675px 1950px #FFF , 1178px 1734px #FFF , 1508px 151px #FFF , 302px 1550px #FFF , 540px 586px #FFF , 1824px 1549px #FFF , 1433px 167px #FFF , 1394px 901px #FFF , 241px 1923px #FFF , 228px 873px #FFF , 1521px 1484px #FFF , 746px 1316px #FFF , 556px 354px #FFF , 1689px 1580px #FFF , 1205px 22px #FFF , 1893px 1038px #FFF , 281px 1289px #FFF , 781px 1180px #FFF , 526px 1826px #FFF , 547px 571px #FFF , 909px 1330px #FFF , 1479px 1569px #FFF , 826px 1128px #FFF , 1733px 1576px #FFF , 695px 1426px #FFF;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    width: 3px;
    height: 3px;
    box-shadow: 675px 1950px #FFF , 1178px 1734px #FFF , 1508px 151px #FFF , 302px 1550px #FFF , 540px 586px #FFF , 1824px 1549px #FFF , 1433px 167px #FFF , 1394px 901px #FFF , 241px 1923px #FFF , 228px 873px #FFF , 1521px 1484px #FFF , 746px 1316px #FFF , 556px 354px #FFF , 1689px 1580px #FFF , 1205px 22px #FFF , 1893px 1038px #FFF , 281px 1289px #FFF , 781px 1180px #FFF , 526px 1826px #FFF , 547px 571px #FFF , 909px 1330px #FFF , 1479px 1569px #FFF , 826px 1128px #FFF , 1733px 1576px #FFF , 695px 1426px #FFF; }

@keyframes animStar {
  from {
    transform: translateY(-500px); }
  to {
    transform: translateY(-2000px); } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  background: radial-gradient(circle at bottom, #1B2735 0%, #090A0F 100%);
  color: #FFF;
  font-family: "lato", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: revert;
  justify-content: space-around; }

article {
  z-index: 2;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  padding: 4%;
  margin-bottom: 20px; }

h1, h2, h3 {
  margin-bottom: 20px;
  text-align: center; }

.contacto, .certificaciones {
  background: rgba(63, 62, 62, 0.179); }

.contacto img {
  filter: drop-shadow(0 0 10px black); }

.tools-content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto); }
  .tools-content figure {
    display: flex;
    flex-direction: column;
    align-items: center; }
.proyectos ul {
 list-style: none;
 }
proyectos ul li a{
 color: white;
 }

.certificaciones {
  display: flex;
  flex-direction: column;
  align-items: center; }

p, span {
  text-align: justify; }

.bienvenida {
  margin-bottom: 15%; }
  .bienvenida #avion {
    width: 20vw;
    position: absolute;
    animation: toLeft 35s infinite linear; }
@keyframes toLeft {
  from {
    transform: translateX(20vw); }
  to {
    transform: translateX(-100vw); } }
#sol {
  width: 20vw;
  position: fixed;
  left: 1px;
  bottom: 40vh;
  filter: drop-shadow(0px 0px 40px #727230);
  animation: clockWise 10s infinite linear; }
@keyframes clockWise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
#luna {
  width: 100vw;
  position: absolute;
  z-index: 1;
  top: -61vw;
  filter: drop-shadow(0 0 20px white) brightness(0.9);
  animation: counterClockWise 20s infinite linear; }

@keyframes counterClockWise {
  from {
    transform: rotate(359deg); }
  to {
    transform: rotate(0deg); } }
#cometa {
  width: 20vw;
  position: absolute;
  filter: drop-shadow(0 0 20px cyan) brightness(0.7);
  transform: rotate(180deg);
  animation: caer 5s infinite linear; }
@keyframes caer {
  from {
    transform: translate(-50vw, -50vh);
    scale: 0.5; }
  to {
    transform: translate(50vw, 50vh);
    scale: 2; } }
#satelite {
  width: 20vw;
  position: absolute;
  filter: brightness(0.7);
  animation: orbit 10s infinite linear; }
@keyframes orbit {
  from {
    transform: rotate(359deg);
    right: -10vw; }
  to {
    transform: rotate(0deg);
    right: 105vw; } }
#nubeAlta1 {
  position: absolute;
  bottom: 90vh;
  filter: drop-shadow(0 0 5px);
  animation: toRight 35s infinite linear; }

#nubeAlta2 {
  position: absolute;
  bottom: 85vh;
  transform: scaleX(-1);
  filter: drop-shadow(0 0 5px);
  animation: toLeft 35s infinite linear; }

.land {
  position: relative;
  bottom: 0px; }
  .land img {
    position: absolute; }
  .land #montana {
    position: relative;
    bottom: 5px;
    filter: brightness(0.7); }
  .land #naveLarga {
    width: 150px;
    left: 55%;
    bottom: 0%; }
  .land #astronauta {
    width: 40px;
    left: 35%;
    bottom: 0; }
  .land #arbusto {
    bottom: 0;
    left: -10%; }
  .land #arbol {
    bottom: 0;
    right: -20%; }
  .land #globo {
    height: 70px;
    top: 10px;
    left: 50%;
    animation: float 5s infinite; }
@keyframes float {
  50% {
    transform: translateY(50px); } }
  .land #nube1 {
    opacity: 0.5;
    top: -10px;
    left: -30vw;
    filter: blur(1px);
    animation: toRight 35s infinite linear; }
@keyframes toRight {
  from {
    transform: translateX(-20vw); }
  to {
    transform: translateX(120vw); } }
  .land #nube2 {
    opacity: 0.5;
    top: 5px;
    right: -30vw;
    filter: blur(1px);
    animation: toLeft 35s infinite linear; }
@keyframes toLeft {
  from {
    transform: translateX(20vw); }
  to {
    transform: translateX(-100vw); } }
  .land #copyright {
    display: block;
    position: relative;
    text-align: center;
    bottom: -15%; }

/*# sourceMappingURL=styles.css.map */
